{% extends 'base.html'%}
{% block head %}
<title>business</title>
{% endblock %}
{% block body %}
<h1>WELCOME</h1>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Happy birthday jos!!</h1>
            <p>Hey there,Today i was created on my masters birthday ,I must say this boy is supremely talented.However lazy he may be but yes he had some balls to create me</p>
            <p>Always keep trying.And yes "Love u JOS".Enjoy ur day!!</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}